<form novalidate #form="ngForm" (ngSubmit)="onSubmit()">
  <input type="hidden" name="id"
         value="service.formData.id" />
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>First Name</label>
      <input class="form-control form-control-lg" placeholder="First Name"
             name="firstName" #firstname="ngModel" [(ngModel)]="service.formData.firstName" required />
    </div>
    <div class="form-group col-md-3">
      <label>Last Name</label>
      <input class="form-control form-control-lg" placeholder="Last Name"
             name="lastName" #lastName="ngModel" [(ngModel)]="service.formData.lastName" required />
    </div>
    <div class="form-group col-md-3">
      <label>Mobile Number</label>
      <input class="form-control form-control-lg" placeholder="Mobile Number"
             name="mobilenumber" #mobilenumber="ngModel" [(ngModel)]="service.formData.mobilenumber" required />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Email</label>
      <input class="form-control form-control-lg" placeholder="Email"
             name="email" #email="ngModel" [(ngModel)]="service.formData.email" required />
    </div>
    <div class="form-group col-md-3">
      <label>Address</label>
      <input class="form-control form-control-lg" placeholder="Address"
             name="address" #address="ngModel" [(ngModel)]="service.formData.address" required />
    </div>
    <div class="form-group">
      <label></label>
      <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="form.invalid">Add</button>
    </div>
  </div>
</form>
